
.ser-container{

    background-color: rgb(255, 255, 255);
    padding-top: 60px;
    min-height: 100vh;

}
.s-logo{

    margin-top: 10%;
    margin-left: 46%;
    
}

h1{
font-size: 40px;

    color: rgb(2, 14, 138);
}