
.ser-container{

    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    min-height: 100vh;

}
.s-logo{

    margin-top: 4%;
    text-align: center;  
}

.ser-container h1{
font-size: 40px;

    color: rgb(2, 14, 138);
}



.img{


    height: 400px;
    width: 400px;
}