




@media only screen and (min-width: 1224px) {


.ser-container{

    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    min-height: 100vh;
    

}
.s-logo{

    margin-top: 4%;
    text-align: center;  
}

.ser-container h1{
font-size: 40px;

    color: rgb(2, 14, 138);
}



.img-services{

    height: 400px;
    width: 480px;
}


        
}











@media only screen and (max-width: 1224px) {

   


.ser-container{

    padding-top: 30px;
    min-height: 40vh;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    margin-top: 10%;

}
.s-logo{

    text-align: center;
    


}

.ser-container h1{
font-size: 20px;

    color: rgb(255, 255, 255);
}



.img-services{

    height: 250px;
    width: 280px;
    border-radius: 20px;
}


        
}