

.about-add{


    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 33px;
}


.about-container{

    background-color: rgb(2, 14, 138);
    padding-top: 60px;
    min-height: 100vh;
    font-weight: 600;

}


p{


    text-align: center;
    font-size: 40px;
    
}