@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    /* div#slider { overflow: hidden; } */
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 10s slidy infinite; 
    }
    

    .fp-container{

        background-color: rgb(2, 14, 138);
        min-height: 100vh;
        padding-top: 60px;
        
    
    
    }
    
    .shade{
    
        background-color: rgba(0, 123, 255, 0.674);
        opacity: 0.8;
        min-height: 93vh;
       
    
    }

   
.logo{

position: absolute;
top: 50%;
left: 46%;
margin: -25px 0 0 -25px;
display: flex;


}





@media only screen and (min-width: 1224px) {

    .img{

        width: 150px;
        height: 100px;
    }

}



@media only screen and (max-width: 1224px) {

    .img{

        width: 70px;
        height: 55px;
    }

}